@media screen and (max-width:960px){
    header{
        width: 100%;
        height: 200px;
    }
    header nav{
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        width: 70%;
        padding: 10px;
    }
    header nav a{
        text-align: center;
        align-items: center;
        padding: 5px;
        font-weight: bold;
    }
    .section2{
        width: 100%;
        height: 450px;
        padding: 90px;
    }
    .section2 .tofbakeli{
        margin: auto;
        display: flex;
        width: 90px;
        height: 50px;
    }
    .section2 .tofbakeli img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .section2 .h h3{
        margin: auto;
        text-align: center;
        color: white;
        width: 200px;
        background-color: gray;
        padding: 10px;
        margin-top: 15px;
        font-size: 12px;
    }
    .section3{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 700px;
        background-color: white;
    }
    .section3 .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 50px;
    }
    .section3 h2{
        margin-bottom: 2px;
    }
    .section4{
        width: 100%;
        height: 200px;
    }
    .section4 h1{
        padding: 10px;
    }
    .section4 nav{
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 80%;
    }
    .section4 nav a{
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: black;
        padding: 5px;  
    }
    .section5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 1700px;
    }
    .section5 .haut{
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    .section5 .haut .wp{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .haut .wp img{
        width: 100%;
        height: 100%;
    }
    .section5 .haut .htcs{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .haut .htcs img{
        width: 100%;
        height: 100%;
    }
    .section5 .haut .canva{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .haut .canva img{
        width: 100%;
        height: 100%;
    }
    .section5 .haut .js{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .haut .js img{
        width: 100%;
        height: 100%;
    }
    .section5 .bas{
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
    .section5 .bas .java{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .bas .java img{
        width: 100%;
        height: 100%;
    }
    .section5 .bas .inkcp{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .bas .inkcp img{
        width: 100%;
        height: 100%;
    }
    .section5 .bas .ae{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .bas .ae img{
        width: 100%;
        height: 100%;
    }
    .section5 .bas .python{
        width: 280px;
        height: 200px;
        margin: auto;
    }
    .section5 .bas .python img{
        width: 100%;
        height: 100%;
    }
    .section6{
        width: 100%;
        height: 600px;
        align-items: center;
        justify-content: center;
    }
    .section6 .text{
        padding: 5px;
        gap: 5px;
        margin-bottom: 60px;
    }
    .barre{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .barre .skill_bar{
        width: 70vw;
        margin: auto;
    }
    .section7{
        width: 100%;
        height: 1180px;
    }
    .section7 .text{
        padding: 5px;
        gap: 5px;
    }
    .section7 .profil{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 10px;
    }
    .section7 .profil .image{
        width: 200px;
        height: 250px;
        margin: auto;
    }
    .section7 .profil .image img{
        width: 100%;
        height: 100%;
    }
    .section7 .profil .image:hover img{
        transform: none;
    }
    .section8 .p1{
        text-align: center;
        margin: auto;
        padding: 10px;
    }
    footer{
        width: 100%;
        height: 600px;
    }
    footer h1{
        text-align: center;
        font-size: medium;
        padding: 10px;
    }
    footer .plus{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
        gap: 15px;
    }
    footer .plus p{
        padding: 5px;
    }
    footer h2{
        text-align: center;
        font-size: medium;
        padding: 15px;
    }
    footer .bas{
        text-align: center;
        padding: 5px;
    }
}